:root{
    --primary-color: lightgray;
    --boolean-color-botton:hsl(214.76deg 78.85% 40.78%);
}
img{
    max-width: 100%;
}
.white{
    color: white;
}
.wrap{
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}
header{
    height: 80px;
    background-color: aqua;
}
.header{
    height: 100%;
}
.lightgray{
    background-color: white;
}
.ms_search{
    background-color: var(--primary-color);
    height: 40px;
    flex-grow: 1;
}

.ms_search:focus {
    background-color: var(--primary-color);
    box-shadow: none;
    border: none;
}    
.ms_search-bar{
    background-color: var(--primary-color);
}
/* sezione navbar */
.navbar_left{
    height: calc(100vh - 80px);
    min-width: 70px;
    background:linear-gradient(45deg,hsl(208deg 63.38% 13.92%) 0%,hsl(208deg 63.38% 13.92%) 72%,hsl(208.7deg 79.31% 11.37%) 72%, hsl(208.7deg 79.31% 11.37%)100%);
    color: white;
}
#main-container{
    width: calc(100% - 70px);
    height: calc(100vh - 80px);
    background-color: lightcoral;
    overflow-y: scroll;
}
.ms_icon-nav{
    width: 100%;
}
@media screen and (min-width: 1400px){
    .navbar_left{
        width: 13%;
    }
      
}
.ms_size{ 
    width: 100%;
}

/* sezione main  */

.boolean{
    background-color: hsl(214.88deg 81.53% 51.18%);
}
.new-student{
    height: 35px;
}
.big-plus{
    height: 35px;
    line-height: 35px;
    width: 40px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;  
}
.blaze{
border-radius: 30px;
padding: 0 10px;
font-size: .8rem;
background-color:hsl(214.76deg 78.85% 40.78%) ;
border: none;
}
.mini-plus{
    border-radius: 50%;
    padding: 2px 8px;
}

/* prossime classi */
.tab-title{
    background-color: var(--primary-color);
    border-bottom: 1px solid gray;
}
.avatar-size{
   max-width:  40px;
}
.gray{
    border-color: gray;
}
.ms_radius{
    border-radius: 10px;
}
.process{
    background-color: hsl(44.7deg 100% 51.57%);
    border-color:  hsl(44.7deg 100% 51.57%);
}
.process:first-child:active{
    background-color: hsl(44.7deg 100% 51.57%);
    border-color:  hsl(44.7deg 100% 51.57%);
}
.process:hover {
    background-color: hsl(44.7deg 100% 51.57%);
    border-color:  hsl(44.7deg 100% 51.57%);
}
.process:focus-visible {
    background-color: hsl(44.7deg 100% 51.57%);
    box-shadow: none;
    border-color:  hsl(44.7deg 100% 51.57%);
}