:root{
    --primary-color: hsl(0deg 0% 96.86%);
    --boolean-color-botton:hsl(214.76deg 78.85% 40.78%);
}
/* elementi in comune */
.white{
    color: white;
}
.ms_bg-white{
    background-color: white;
}

.ms_radius{
    border-radius: 5px;
}

/* /elementi in comune  */

img{
    max-width: 100%;
}
/* contenitore della pagina */
.wrap{
    height: 100vh;
    width: 100%;
    background-color: hsl(210deg 16.67% 97.65%);
}
/* sezione header  */
header{
    height: 80px;
}

.ms_mobile{
    min-width:1rem;
}

.ms_search{
    background-color: var(--primary-color);
    height: 40px;  
    flex-grow: 1;
}

.ms_search:focus {
    background-color: var(--primary-color);
    box-shadow: none;
    border: none;
}    
.ms_search-bar{
    background-color: var(--primary-color);
}

.bonus{
    position: relative;
}

.ms_group{
    width: 150px;
    list-style: none;
    position:absolute;
    right: 35px;
    display: none;  
}

.bonus:focus .ms_group{
    display: block;
}

.bonus:active .ms_group{
    display: block;   
}

/* sezione navbar */

.navbar_left{
    height: calc(100vh - 80px);
    min-width: 70px;
    background:linear-gradient(45deg,hsl(208deg 63.38% 13.92%) 0%,hsl(208deg 63.38% 13.92%) 72%,hsl(208.7deg 79.31% 11.37%) 72%, hsl(208.7deg 79.31% 11.37%)100%);
}

#main-container{
    width: calc(100% - 70px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
}
.ms_icon-nav{
    width: 100%;
}

@media screen and (min-width: 1400px){
    .navbar_left{
        width: 10%;
    }
    #main-container{
        width:calc(100% - 10%)
    }    
}

.ms_size{ 
    width: 100%;
}
/* parte main  */

/* sezione boolean  */
.boolean{
    background-color: hsl(214.88deg 81.53% 51.18%);
}
.new-student{
    height: 35px;
}
.big-plus{
    height: 35px;
    line-height: 35px;
    width: 40px;
    border: 1px solid white;

}
.blaze{
border-radius: 30px;
padding: 0 10px;
font-size: .8rem;
background-color:hsl(214.76deg 78.85% 40.78%) ;
border: none;
}
.mini-plus{
    border-radius: 50%;
    padding: 2px 8px;
}

/* prossime classi */
.tab-title{
    background-color: var(--primary-color);
}

.avatar-size{
   max-width:  40px;
}

.ms_gray{
    border-color: gray;
}

.process{
    background-color: hsl(44.7deg 100% 51.57%);
    border-color:  hsl(44.7deg 100% 51.57%);
}

.process:first-child:active{
    background-color: hsl(44.7deg 100% 51.57%);
    border-color:  hsl(44.7deg 100% 51.57%);
}

.process:hover {
    background-color: hsl(44.7deg 100% 51.57%);
    border-color:  hsl(44.7deg 100% 51.57%);
}

.process:focus-visible {
    background-color: hsl(44.7deg 100% 51.57%);
    box-shadow: none;
    border-color:  hsl(44.7deg 100% 51.57%);
}

/* todo  */
.ms_todo{
    border-bottom: 1px solid gray;  
}

/* grafico */
.ms_mini-text{
    font-size: .8rem;
    letter-spacing: -1px
}
